* {
  margin: 0%;
  padding: 0%;
  overflow-x: hidden;
}
.main_nav {
  font-size: 1.3rem;
  text-transform: capitalize;
}
.fclass {
  text-align: center;
}
.iclass {
  height: 670px;
  width: 100%;
}
.igclass {
  position: absolute;
  bottom: 200px;
  background: rgb(0, 0, 0);
  background: rgba(228, 18, 18, 0.5);
  color: #f1f1f1;
  width: 30%;
  height: 40%;
  padding: 20px;

  margin-left: 100px;
  font-family: cursive;
  /* font-weight: bold; */
  font-size: x-large;
}
